// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn {

}

body {
  background-color: #FFF4E9;
  padding-bottom: 50px;
}

.btn-primary {
  border-radius: 10px;
}

h1 {
  font-size: 120px;
  color:#FCB5B5;
}

h2 {
  color: #8FC0A9;
}

#bootstrap-overrides #top {
  text-decoration: none;
  padding-bottom: -10px;
 }

 .cname {
  color:white;
 }

 .form {
  display:flex;
  align-items: center;
  margin-top: 140px;
  margin-left: 150px;
 }

 .show {
  margin-top: 140px;
  margin-left: 150px;

 }

 .button {
  background-color:#2C272D;
  border-radius: 3px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
 }

 .card_bottom {
  padding-top: 40px;
  padding-bottom: 60px;
 }

  .cocktail_list {
    padding-top: 30px;
  }

  li {
    list-style-type: none;
  }
